.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.display {
  font-size: 2em;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.controls button {
  padding: 0.4em 0.8em;
}